
.Layout{
    height: 100%;
    box-sizing: border-box; /*fix css size bugs*/
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: repeat(6,1fr);/* fr = Fraction*/
}

.Layout > header, .Layout > footer{
    grid-column: span 6;
}

.Layout > header{
    background-color: #63d4a586;
    color:white
}

.Layout > footer{
    background-color: rgba(12, 110, 143, 0.486);
}

.Layout > main, .Layout > aside{
    /* background-color: #39A2DB; */
    color: #F0D9E7;
}
.Layout > main {
    grid-column: span 5;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items:center;
}


