.Menu2{

}

    .MuiButton-label{
        align-items: center;
        height: 45px;
        margin: 10px 0px;
        outline: none;
        color:#fff;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
        
    }